@font-face{
	src:url(fonts/Azonix.otf);
	font-family: Azonix;
} 

body{
    overflow-x: hidden;
}

html{
	scroll-behavior: smooth;
}

:root {
  --bg-color: white;
  --primary-color:red;
  --secondary-color: white;
}

*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

h1{
color: white;
font-size: 45px;
font-family: Azonix;
}


p{
color: white;
font-size: 20px;
font-family: Azonix;
}

a{
font-family: Azonix;	
}

h3{
	color: white;
font-size: 30px;
font-family: Azonix;
}
/*Esto es el fondo animado*/

.fondo_animado {
	background: linear-gradient(to left, #505c7c, #242424);
	width: 100%;
	height: 100vh;
	padding-top: 8%;
	z-index: 1;
	transition: all 0.5s ease-in-out;
}

.caja {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
	overflow: hidden;
}

.caja li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animacion 20s linear infinite;
	bottom: -150px;
}

.caja li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.caja li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.caja li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.caja li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.caja li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.caja li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes animacion {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

/* Sección de Bienvenida */

.row1{
position: relative; left: 0px; top:0px;
  float: left;
  width:50%;
}

#r1_p1{
	text-align: center;
}

#r1_p2{
	text-align: center;
	margin-left: -5%;
}

.row1 img{
	border: 5px double red;
	border-radius: 50%;
}

.row1 h1{
color: white;
}

.row1 p{
	color: white;
}

.row1 .btn{
margin-bottom: 10px;
margin-left: 10px;
margin-right:10px;
}

.seccion1:after{
  content: "";
  display: table;
  clear: both;
}

.seccion2:after{
  content: "";
  display: table;
  clear: both;
}

.c1{
position: relative; left: 0px; top:0px;
  float: left;
  width:50%;
}

.btn {
  position: sticky;
  display: block;
  padding: 15px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-decoration: none;
  font-size: 25px;
  overflow: hidden;
  transition: 0.2s;
  z-index: 999;
  border: 3px double white;
  background: rgba(255,255,255, 0.1);
}
.btn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
    0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
  transition-delay: 1s;
  color: white;
  border: none;
}

.btn span {
  position: absolute;
  display: block;
}
.btn span:nth-child(1) {
  top: 0;
  transform: translateX(-115%);
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--primary-color));
}
.btn:hover span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}
.btn span:nth-child(3) {
  bottom: 0;
  transform: translateX(100%);
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, var(--primary-color));
}
.btn:hover span:nth-child(3) {
  transform: translateX(-115%);
  transition: 1s 0.5s;
}
.btn span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primary-color));
}
.btn:hover span:nth-child(2) {
  transform: translateY(100%);
  transition: 1s 0.25s;
}
.btn span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--primary-color));
}
.btn:hover span:nth-child(4) {
  transform: translateY(-130%);
  transition: 1s 0.75s;
}

#space1, #space2{
	margin-top: 20px;
	margin-bottom: 45px;
}

/*--Habilidades--*/

.div2{
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
}

#btn_back{
	position: absolute;
	left: 5%;
	top: 90%;
	z-index: 999;
}

#btn_back i{
	z-index: 999;
	color: white;
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	border: 2px double white;
	transition: all 0.5s ease-in-out;
	animation: flecha 2.5s linear infinite;
}

.seccion2 h1{
	margin-top: -3%;
}

#btn_back i:hover{
	z-index: 999;
	color: red;
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	border: 2px double red;
	transition: all 0.5s ease-in-out;
}

.row2{
position: relative; left: 0px; top:0px;
  float: left;
  width:33.3%;
  text-align: center;
  z-index: 999;
}

.seccion3{
padding-bottom: 30px;
padding-top: 30px;
z-index: 999;
}

.seccion3:after{
  content: "";
  display: table;
  clear: both;
}

.row2 img{
	height: 190px;
	width: 190px;
	padding: 20px;
	border: 5px double white;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	z-index: 999;
	display: sticky;
	transition: all 0.5s ease-in-out;
}

.row2 img:hover{
	border: 5px double red;
	background: rgba(255, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.7), 0 6px 20px 0 rgba(255, 0, 0, 0.7);
}

#html{
	animation: movimiento 12s linear infinite;
}

#css{
	animation: movimiento2 12s linear infinite;
}

#php{
	animation: movimiento3 12s linear infinite;
}

#js{
	animation: movimiento 12s linear infinite;
}

#sql{
	animation: movimiento3 12s linear infinite;
}

#bootstrap{
	animation: movimiento2 12s linear infinite;
}

@keyframes flecha{
0% {
		transform: translateY(0px) translateX(0px);
	}
	50%{
	transform: translateY(0px) translateX(20px);

	}
	100% {
		transform: translateY(0px) translateX(0px);
	}
}

@keyframes mano{
0% {
		transform: translateY(0px) translateX(0px);
	}
	50%{
	transform: translateY(20px) translateX(0px);

	}
	100% {
		transform: translateY(0px) translateX(0px);
	}
}

@keyframes movimiento{
	0% {
		transform: translateY(0px) translateX(0px);
	}
	50%{
	transform: translateY(-150px) translateX(50px);

	}
	100% {
		transform: translateY(0px) translateX(0px);
	}
}

@keyframes movimiento2{
	0% {
		transform: translateY(0px) translateX(0px);
	}
	50%{
	transform: translateY(50px) translateX(-50px);

	}
	100% {
		transform: translateY(0px) translateX(0px);
	}
}

@keyframes movimiento3{
	0% {
		transform: translateY(0px) translateX(0px);
	}
	50%{
	transform: translateY(-20px) translateX(70px);
	}
	100% {
		transform: translateY(0px) translateX(0px);
	}
}

/*--Sobre mi--*/
.div3{
	position: absolute;
	left: 200%;
	top: 0;
	width: 100%;
}

#btn_back2{
	position: absolute;
	left: 5%;
	top: 90%;
	z-index: 999;
}

#btn_back2 i{
	z-index: 999;
	color: white;
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	border: 2px double white;
	transition: all 0.5s ease-in-out;
	animation: flecha 2.5s linear infinite;
}

#btn_back2 i:hover{
	z-index: 999;
	color: red;
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	border: 2px double red;
	transition: all 0.5s ease-in-out;
}

.marco{
	text-align: center;
	margin-top: -5%;
	border: none;
	margin-left: 8%;
	margin-right: 8%;
	position: sticky;
	z-index: 999;
	transition: all 0.5s ease-in-out;
}

.marco h1:hover{
background: #FF0000;
border: 3px double red;
transition: all 0.5s ease-in-out;
}

.marco h1{
position: sticky;
z-index: 999;
padding: 20px;
transition: all 0.5s ease-in-out;
border: 3px double white;
}

.seccion4 i{
	padding-top: 25px;
	font-size: 50px;
	color: white;
	animation: mano 2.5s linear infinite;
	position: sticky;
	z-index: 999;
}

.marco p{
	display: none;
	padding-top: 15px;
	transition: all 0.5s ease-in-out;
}

.marco a{
display: none;
transition: all 0.5s ease-in-out;
}

#space3{
	margin-left: 25%;
	margin-right: 25%;
}

.marco img{
	display: none;
	border: 5px double red;
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

/*--Proyectos--*/

.div4{
	position: absolute;
	left: 300%;
	top: 0;
	width: 100%;
}

.div4 h1{
	margin-top: -3%;
}

#btn_back3{
	position: absolute;
	left: 5%;
	top: 90%;
	z-index: 999;
}

#btn_back3 i{
	z-index: 999;
	color: white;
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	border: 2px double white;
	transition: all 0.5s ease-in-out;
	animation: flecha 2.5s linear infinite;
}

#btn_back3 i:hover{
	z-index: 999;
	color: red;
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	border: 2px double red;
	transition: all 0.5s ease-in-out;
}

.row3{
  text-align: center;
  position: relative; left: 0px; top:0px;
  float: left;
  width:50%;
}

.seccion5:after{
  content: "";
  display: table;
  clear: both;
}

.seccion5{
	padding-top: 50px;
}

.encabezados{
	padding-bottom: 30px;
}


#carouselExampleControls{	
 border: 3px double white;
 margin-left: 5%;
 margin-right: 5%;
 z-index: 999;
 transition: all 0.5s ease-in-out;
}

#carouselExampleControls:hover{	
 box-shadow: red 0 3px 20px;
 transition: all 0.5s ease-in-out;
}

#carouselExampleControls2:hover{	
 box-shadow: red 0 3px 20px;
 transition: all 0.5s ease-in-out;
}
#carouselExampleControls2{	
 border: 3px double white;
 margin-left: 5%;
 margin-right: 5%;
 z-index: 999;
 transition: all 0.5s ease-in-out;
}


.carousel-caption{
	background: rgba(0, 0, 0, 0.7); 
	width: 100%;
	right: 0;
	left: 0;
  bottom: 0;
	z-index: 999;
}

.carousel-caption{
	background: rgba(0, 0, 0, 0.7); 
	width: 100%;
	right: 0;
	left: 0;
  bottom: 0;
	z-index: 999;
	transition: all 0.5s ease-in-out;
}

.carousel-caption:hover{
background: rgba(255, 0, 0, 0.9); 
transition: all 0.5s ease-in-out;
}

/*--contacto--*/

.div5{
	position: absolute;
	left: 400%;
	top: 0;
	width: 100%;
}

#btn_back4{
	position: absolute;
	left: 5%;
	top: 90%;
	z-index: 999;
}

#btn_back4 i{
	z-index: 999;
	color: white;
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	border: 2px double white;
	transition: all 0.5s ease-in-out;
	animation: flecha 2.5s linear infinite;
}

#btn_back4 i:hover{
	z-index: 999;
	color: red;
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	border: 2px double red;
	transition: all 0.5s ease-in-out;
}

.contacto{
	margin-top: -3%;
	border: 3px double white;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 999;
	position: sticky;
}

.formulario{
	text-align: center;
}

.contacto h1{
	padding-bottom: 20px;
}

input[type=text], textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  border: 3px double white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

input[type=submit]:hover {
  background-color: red;
  transition: all 0.5s ease-in-out;
  border: 3px double red;
}




/*--Diseño Responsivo--*/

@media only screen and (max-width: 600px) {
	
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

@keyframes animacion {
	0% {
		transform: translateY(900px) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-1700px) rotate(360deg);
		opacity: 0;
	}
}

.fondo_animado {
  height: 1100px;
  z-index: 2;
}

h1{
font-size: 30px;
}

p{
font-size: 16px;
}

h3{
font-size: 20px;
}

.row1{
  width:100%;
}
	
.row1 img{
height:200px;
width:200px;
}

#r1_p1{
	text-align: center;
}

#r1_p2{
	padding-top: 8%;
	text-align: center;
  padding-left: 35px;
}

.c1{
width: 100%;
}

.row2{
  width:100%;
}
.row2 img{
	height: 120px;
	width: 120px;
	margin-top:15px;
}

@keyframes movimiento{
	0% {
transform: scale(1, 1);
}
50% {
transform: scale(1.2, 1.2);
}
100% {
transform: scale(1, 1);
}
}

@keyframes movimiento2{
	0% {
transform: scale(1, 1);
}
50% {
transform: scale(1.2, 1.2);
}
100% {
transform: scale(1, 1);
}
}

@keyframes movimiento3{
	0% {
transform: scale(1, 1);
}
50% {
transform: scale(1.2, 1.2);
}
100% {
transform: scale(1, 1);
}
}

#html{
	animation: movimiento 4s linear infinite;
}

#css{
	animation: movimiento2 4s linear infinite;
}

#php{
	animation: movimiento3 4s linear infinite;
}

#js{
	animation: movimiento 4s linear infinite;
}

#sql{
	animation: movimiento3 4s linear infinite;
}

#bootstrap{
	animation: movimiento2 4s linear infinite;
}
	
.row3{
  width:100%;
}


	
}
